{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "CENSYS_ASM_API_KEY": "<Your CENSYS_ASM_API_KEY>",
    "AZURE_LOG_ANALYTICS_WORKSPACE_ID": "<Your AZURE_LOG_ANALYTICS_WORKSPACE_ID>",
    "AZURE_LOG_ANALYTICS_SHARED_KEY": "<Your AZURE_LOG_ANALYTICS_SHARED_KEY>"
    "KEYVAULT_NAME": "<Your Azure Key Vault name>",
    "CENSYS_LOGBOOK_SYNC_INTERVAL": "0 0 * * * *",
    "CENSYS_RISKS_SYNC_INTERVAL": "0 0 * * * *"
  }
}